@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Work+Sans:wght@300&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background-image: linear-gradient(to right, #1e3c72 , #2a5298);
}